<%- include('./partials/head')-%>
<div class="container">
  <div class="row">
    <div class="col-md-12">

        <form action="/table/add/factory" method="POST"  encType="multipart/form-data">
            <div class="form-group">
              <label for="exampleFormControlInput1">add energy</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="peugeot" name="energyName" >
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1">add factory</label>
              <textarea type='text' class="form-control" id="exampleFormControlInput1" placeholder="essance" name="name" ></textarea>
            </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Example file input</label>
              <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1">
              
              
            </div>
            <div>
                <button type="submit" >Ajouter energy</button>
            </div>
            
        </form>

        

    </div>
  </div>
</div>


<%- include('./partials/footer')-%>